body {
  background-color: #3b3b3b;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#container {
  background-color: aliceblue;
  width: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
}

button {
  margin: 20px;
}
